@model project.ViewModels.CommentView

@{
    ViewBag.Title = "Comment";
}

<h2>Comment</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Comments</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group"style="display:none">
        @Html.LabelFor(model => model.comments.userid, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.comments.userid, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.comments.userid, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group"style="display:none">
        @Html.LabelFor(model => model.frind, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.frind, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.frind, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group"style="display:none">
        @Html.LabelFor(model => model.comments.imageid, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.comments.imageid, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.comments.imageid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.comments.comment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.comments.comment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.comments.comment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Comment" class="btn btn-primary" />
        </div>
    </div>
</div>
}