@model project.ViewModels.SearchModelView

@{
    ViewBag.Title = "FriendsRequests";
}

<h2>Friends Requests</h2>
<p>
    @Html.ActionLink("Back To profile", "Index", Model.user)
</p>
<div>

    @foreach (var item in Model.SerachUsers)
    {
       
            <div>
                <img class="circular_image3" src="@Html.DisplayFor(modelItem => item.Image)" width="80" height="120" />
            
                <h3>
                    @Html.DisplayFor(modelItem => item.FirstName)

                    @Html.DisplayFor(modelItem => item.LastName)
                </h3>
            </div>
            <div>
                @Html.ActionLink("Accept", "Accept", new { id = Model.user.ID,id2= item.ID},
                                new { @class = "btn btn-primary", @style = "color:white" })
                @Html.ActionLink("Reject", "Reject", new { id = Model.user.ID ,id2= item.ID },
                                new { @class = "btn btn-danger", @style = "color:Black" })
            </div>
        <hr />
    }

</div>
